<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="eventbtn(event)">
<!--    <div th:if="${event.body}"-->
<!--    <div class="event_footer">-->
<!--        <div class="btn_wrap">-->
<!--            &lt;!&ndash; <div class="btn"><button type="button" class="btn_ev_join"><span>이벤트 참여하기</span></button></div> &ndash;&gt;-->
<!--            <div class="btn"><a href="#g"-->
<!--                                style="display:block; padding:1em; text-align:center; background-color:var(&#45;&#45;main-color); color:#fff;"-->
<!--                                type="button" class="btn_ev_join"><span>이벤트 참여하기</span></a></div>-->
<!--        </div>-->
<!--    </div>&lt;!&ndash; // event_footer &ndash;&gt;-->
</div>
</body>
</html>
