<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="mainheader(header)">
    <h1 th:text="${header[0].head}"></h1>
</div>
<div th:fragment="loginbanner" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--    <a class="nav-link" sec:authorize=isAnonymous()>-->
    <div class="open_logBox">
            <div class="event_footer">
                <div class="btn_wrap">
                    <!-- <div class="btn"><button type="button" class="btn_ev_join"><span>이벤트 참여하기</span></button></div> -->
                    <div class="btn" id="btn">
                        <a style="display:block; padding:1em; text-align:center; background-color:var(--login-color); color:#fff;"
                           type="button">
                            <span>로그인</span>
                        </a>
                    </div>
                </div>
            </div><!-- // event_footer -->
        </div>
<!--    </a>-->
    <a class="nav-link" sec:authorize="hasAnyRole('MEMBER', 'ROLE_MEMBER', 'ROLE_ADMIN')">
        <div class="open_logBox">
            <div class="event_footer">
                <div class="btn_wrap">
                    <div class ="dropdown-item" th:onclick="|location.href='@{/logout}'|">
                        <a style="display:block; padding:1em; text-align:center; background-color:var(--login-color); color:#fff;"
                           type="button">
                            <span>로그아웃</span>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
    </a>
</div>
<div th:fragment="mainbanner(header, domain)">
    <div class="gnb_wrap">
        <!-- <ul class="gnb">
            <li class="active"><button type="button"><span>서비스</span></button></li>
            <li><button type="button"><span>이벤트</span></button></li>
            <li><button type="button"><span>고객센터</span></button></li>
        </ul> -->
        <ul class="gnb">
            <li th:if="${domain} == '서비스'" th:class="active">
                <a type="button">
                    <span th:id="mainPageServiceMenu" th:onclick="moveMenu(this.id)" th:text="${header[0].body}"></span></a>
            </li>
            <li th:unless="${domain} == '서비스'" class="">
                <a type="button">
                    <span th:id="mainPageServiceMenu" th:onclick="moveMenu(this.id)" th:text="${header[0].body}"></span></a>
            </li>
            <li th:if="${domain} == '이벤트'" th:class="active">
                <a type="button">
                    <span th:id="mainPageEventMenu" th:onclick="moveMenu(this.id)"
                          th:text="${header[1].body}"></span></a>
            </li>
            <li th:unless="${domain} == '이벤트'">
                <a type="button">
                    <span th:id="mainPageEventMenu" th:onclick="moveMenu(this.id)"
                          th:text="${header[1].body}"></span></a>
            </li>
            <li th:if="${domain} == '고객센터'" th:class="active">
                <a type="button">
                    <span th:id="mainPageCustomerMenu" th:onclick="moveMenu(this.id)"
                          th:text="${header[2].body}"></span></a>
            </li>
            <li th:unless="${domain} == '고객센터'">
                <a type="button">
                    <span th:id="mainPageCustomerMenu" th:onclick="moveMenu(this.id)"
                          th:text="${header[2].body}"></span></a>
            </li>
        </ul>
    </div>
</div>
<div th:fragment="mainfooter(footer)">
    <div class="footer_wrap">
        <footer class="footer">
            <!-- <h2 class="logo_aton"><img src="../../images/common/logo_ATON.svg" alt="아톤"></h2> -->
            <h2 class="logo_aton">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 46.329 11.744">
                    <g id="logo_ATON" transform="translate(0 0.002)">
                        <path id="logo_ATON_N"
                              d="M446.686,151.446v11.7l-2.1-1.6-7.548-5.8v7.4h-2.1V151.479l2.1,1.6,7.548,5.8v-7.452Z"
                              transform="translate(-400.357 -151.429)" fill="#999"/>
                        <path id="logo_ATON_O"
                              d="M407.6,157.277a5.871,5.871,0,1,1-5.871-5.848,5.871,5.871,0,0,1,5.871,5.848Zm-2.1,0a3.774,3.774,0,1,0-3.774,3.76,3.774,3.774,0,0,0,3.774-3.76Z"
                              transform="translate(-374.288 -151.429)" fill="#999"/>
                        <path id="logo_ATON_T" d="M371.823,151.479v2.088h-4.814v9.607h-2.1v-9.607H360.1v-2.088Z"
                              transform="translate(-350.436 -151.462)" fill="#999"/>
                        <path id="logo_ATON_A"
                              d="M343.063,163.125h-2.348l-1.074-2.088-2.567-5.013-2.566,5.013-1.074,2.088h-2.348l1.074-2.088,4.915-9.607,4.915,9.607Z"
                              transform="translate(-331.086 -151.429)" fill="#999"/>
                    </g>
                </svg>
            </h2>

            <ul class="site_info">
                <li><a href="#test1" onclick="openLayer('#test1');"
                       th:text="${#strings.setSplit(footer.body, '|')[0]}"></a></li>
                <li><a href="#test2" onclick="openLayer('#test2');"><strong
                        th:text="${#strings.setSplit(footer.body, '|')[1]}"></strong></a></li>
            </ul>
            <div class="company_info">
                <address th:text="${footer.address}"></address>
                <div>
                    <p class="tel" th:text="${footer.phoneNo}"></p>
                    <p class="fax" th:text="${footer.faxNo}"></p>
                    <p class="post" th:text="${footer.postNo}"></p>
                </div>
            </div>

            <p class="copyright" th:text="${footer.footer}"></p>
        </footer>
    </div>
</div>
</body>
</html>